header {
    padding: 1rem;
    margin-bottom: 1rem;
}

header h1 {
    color: #fff;
    text-align: center;
    font-family: "Inter", sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}