* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #D3E0EA;
  background: linear-gradient(to bottom, #1687A7 0%, #D3E0EA 100%);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}